.contact-title {
  padding-bottom: 40px;
  text-align: center;
  padding-top: 60px;
  font-family: secular one, sans-serif;
  font-size: 55px;
  background-color: #ffffff;
  font-style: italic;
  color: #144677;
}

.main-container {
  background-color: #ffffff;
  padding-bottom: 50px;
  width: 60%;
}

.form-group {
  padding-bottom: 20px;
}

input::placeholder {
  color: #144677 !important;
  font-family: secular one, sans-serif !important;
}

input:focus {
  color: #3498db !important;
  font-family: secular one, sans-serif !important;
  border-bottom: 2px solid #144677 !important;
}

input {
  color: #3498db !important;
  font-family: secular one, sans-serif !important;
  border: none !important;
  border-bottom: 1px solid #144677 !important;
}

.button-send {
  font-size: 17px !important;
  border-radius: 500px !important;
  width: 100% !important;
  background-color: #144677 !important;
  color: #ffffff !important;
  font-family: secular one, sans-serif !important;
  border-radius: 500px !important;
}

.button-send:hover {
  background-color: #3498db !important;
}

/********** Medium devices only **********/
@media (min-width: 357px) and (max-width: 768px) {
  .contact-title {
    font-size: 30px;
    /* Make a borderline to identify the div limits */
    /* border: 1px solid red; */
    /* padding-top: 350px; */
  }
}
